html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    position: fixed;
    width: 100%;
}

nav h1 {
    margin: 1rem 2rem;
}

nav h1 a {
    text-decoration: none;
    color: rgb(12, 84, 167);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0rem 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    nav ul {
        display: none;
    }
}


/* Header */

header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

.intro-text {
    max-width: 40rem;
}

.intro-text label {
    color: rgb(12, 84, 167);
}

.intro-text h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
}

.intro-text p {
    color: rgb(53, 53, 53);
    margin: 0;
    padding: 0;
}

.intro-text div {
    margin: 1rem 0rem;
}

.intro-text div button {
    cursor: pointer;
    padding: .5rem 0rem;
    border: 2px solid rgb(12, 84, 167);
    border-radius: .2rem;
}

.intro-text div button a {
    color: rgb(12, 84, 167);
    text-decoration: none;
    font-size: 1rem;
    padding: .6rem 1.6rem;
    transition: all .3s;
}

.intro-text div button a:hover {
    background-color: rgb(8, 41, 79);
    color: white;
}

.intro-text, .intro-img {
    margin: 0rem 2rem;
}

.intro-img img {
    border-radius: 10rem;
    height: 20rem;
}

@media (max-width: 800px) {
    header {
        height: 140vh;
    }

    .intro-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .intro-text, .intro-img {
        margin: 1rem 0rem;
    }
}

/* About */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
}

/* Work box-shadow: 2rem 3.5rem 0rem rgb(8, 36, 68); */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.work-box {
    margin: 7rem 15rem;
}

.projetcs-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
}

.projetcs-box img {
    max-width: 27rem;
    height: 16rem;
    box-shadow: .4rem .9rem .4rem rgb(7, 17, 51);
}

.projetcs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects-info {
    margin: 0rem 5rem;
}

.projects-info button {
    border: 2px solid rgb(12, 84, 167);
    border-radius: .2rem;
    cursor: pointer;
    padding: .5rem 0rem;
}

.projects-info button a {
    text-decoration: none;
    color: rgb(12, 84, 167);
    padding: .5rem 1rem;
    transition: all .3s;
}

.projects-info button a:hover {
    background-color: rgb(8, 41, 79);
    color: white;
}


/* Contact */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}